div.center {
  text-align: center;
  text-shadow: 1px 1px grey;
  font-size: 40px; 
  background-color: grey;
  border: solid 3px solid black;
}

p {
border: outset black;
border-width: 1px 1px 0px 1px;

margin-bottom: 1px;
}
